.white-bknd {
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 10px;
}
.background-color-container {
	background-color: #429dd1;
}
.btn-primary {
	background-color: #086ba6;
	background-image: none;
}
.btn-primary:hover {
	background-color: #96cded;
	background-image: none;
}
@media only screen and (max-width: 991px) {
  .mobile-space {
  	margin-bottom: 25px;
	}
	.mobile-space-f {
		margin-bottom: 50px;
		text-align: center;
	}
}
